<section class="carrito">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Dulces</th>
                <th>Precio</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dulce of dulces">
                <td class="td-imagen"><img [src]="dulce.imagen.path" [alt]="dulce.imagen.alt"></td>
                <td>{{dulce.titulo}}</td>
                <td>{{dulce.precio | currency}}</td>
                <td>{{dulce.descripcion}}</td>
                <td>
                    <app-input-cantidad [(cantidad)]="dulce.cantidad" [max]="dulce.stock" (maxReached)="maxReached($event)" *ngIf="dulce.stock > 0"></app-input-cantidad>
                    cantidad: {{dulce.cantidad}}
                </td>
                <td *ngIf="dulce.stock > 0">{{dulce.stock}}</td>
                <td *ngIf="dulce.stock == 0">Sin stock</td>
            </tr>
        </tbody>
    </table>
    <div class="precio-compra">
        <p>Subtotal: $ <!-- {{subtotal}} --></p>
        <p>Total: $ <!-- {{total}} --></p>
    </div>
    <button>Comprar todo</button>
</section>